set noparent
linelength=100
headers=hpp,h
extensions=cpp,hpp,h

# INFO: Some rules are disabled for a few reasons:
#       - We use 4-space instead of 2-space
#       - closing a namespace with // namespace X are not used.
#       - we used angled brackets
#       - include_what_you_see sends a lot of false positives
#       - legal/copyright is useless for this project.
#       - we use C++23, but cpplint is at C++17, so we disable that too.
filter=-whitespace/indent,-whitespace/indent_namespace,-readability/namespace,-build/include_order,-build/include_subdir,-build/include_what_you_use,-legal/copyright,-build/namespaces,-build/c++17
